<div class="background-image">
  <div class="center">
    <div class="container bg-light m-3 p-3" style="border-radius: 1vh">
      <div class="center heading m-2">Tables</div>

      <div class="zones">
        <div *ngFor="let i of table">
          <div
            class="zone font-weight-bold"
            data-toggle="modal"
            data-target="#exampleModalCenter"
            (click)="getTableData(i)"
          >
            <div class="zoneName">Table</div>
            <div class="number">{{ i }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Table - <span class="font-weight-bold">
          {{tableNumber}}
        </span></h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-2" *ngIf="tableState?.tableCode">Table Code - {{ tableState?.tableCode }}</div>

        <div class="text-center m-2">
          <div class="text-muted" style="font-size: 0.8em">Is Occupied?</div>
          <label class="switch" (click)="updateTableState(tableNumber , tableState.tableOpen)">
            <input type="checkbox" [(ngModel)]="tableState.tableOpen" />
            <span class="slider round"></span>
          </label>
        </div>

        <div class="form-group center">
          <div class="center mr-2" style="align-items: center;">Move to: </div>
          <input type="number" class="form-control" [(ngModel)]="moveToTableNumber" style="width: 40%;">
          <button type="button" class="btn btn-outline-success ml-3" (click)="moveTableTransaction()">Move</button>
        </div>

        <div class="m-2 p-2" *ngFor="let trans of tableTransactions">
          <div class="text-center font-weight-bold text-uppercase m-2">
            {{ trans["user"] }}
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <th>S.no.</th>
                <th>Item Name</th>
                <th>Count</th>
                <th>Price</th>
              </thead>
              <tr *ngFor="let billItems of trans['billItems']; let i = index">
                <td>{{ i + 1 }}</td>
                <td class="text-uppercase">{{ billItems.menuItem }}</td>
                <td>{{ billItems.count }}</td>
                <td>{{ billItems.itemPrice }}</td>
              </tr>
            </table>
          </div>

          <div class="text-right" style="margin-right: 3vh">
            <span class="font-weight-bold" style="font-size: 1.2em"
              >Total : {{ trans["total"] }}
            </span>
            <span
              *ngIf="trans['isBillPayed']"
              class="text-success"
              style="font-size: 0.8em"
            >
              (PAID)</span
            >
            <span
              *ngIf="!trans['isBillPayed']"
              class="text-danger"
              style="font-size: 0.8em"
            >
              (UNPAID)</span
            >
          </div>
        </div>

        <div class="mt-4 mb-4 text-center">
          <qrcode [qrdata]="qrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn submit_button-color">
          Save changes
        </button>
      </div> -->
    </div>
  </div>
</div>

<app-toaster></app-toaster>

