<div class="background-image">
  <div class="center">
    <div class="container bg-light m-3 p-3" style="border-radius: 1vh">
      <div class="center heading m-2">Tables</div>

      <div class="zones">
        <div *ngFor="let i of table">
          <div
            class="zone font-weight-bold"
            data-toggle="modal"
            data-target="#exampleModalCenter"
            (click)="getTableData(i)"
          >
            <div class="zoneName">Table</div>
            <div class="number">{{ i }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Table Number</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <div class="ml-4">
          <div class="text-muted" style="font-size: 0.8em;">Availability</div>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn submit_button-color">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
