<nav *ngIf="showNav" class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/orders">Hiveezy Store</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/showMenu">Menu</a>
      </li>
      <li *ngIf="auth.checkPrivilage()" class="nav-item">
        <a class="nav-link" href="/addMenu">Add Item</a>
      </li>
      <li *ngIf="auth.checkPrivilage()" class="nav-item">
        <a class="nav-link" href="/addCategory">Add Category</a>
      </li>
      <li *ngIf="auth.checkPrivilage()" class="nav-item">
        <a class="nav-link" href="/zones">Zones</a>
      </li>
      <li *ngIf="auth.checkPrivilage()" class="nav-item">
        <a class="nav-link" href="/staff">Staff</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle"
          role="button"
          data-bs-toggle="dropdown"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
            class="img-fluid user-icon"
            title="Profile"
          />
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" *ngIf="auth.checkPrivilage()" href="/profile">Profile</a></li>
          <li>
            <a class="dropdown-item" data-toggle="modal" data-target="#logout"
              >Logout</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="modal" id="logout">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">LOG<span class="text-warning">OUT</span></h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">Are you sure you want to logout?</div>
       <div class="d-flex justify-content-around mt-4 mb-4" >
        <button
        class="btn rounded-0 btn-outline-warning font-weight-bold"
        data-bs-dismiss="modal"
        style="width: 20vh;"
      >
        CANCEL
      </button>
      <button
        class="btn btn-warning rounded-0 font-weight-bold"
        (click)="logout()"
        style="width: 20vh; color: white;"
        data-dismiss="modal"
      >
        LOGOUT
      </button>
       </div>
      </div>
    </div>
  </div>
</div>
