<div class="background-image">
  <div class="center">
    <div class="container bg-light m-5 p-5">
      <div class="space-around mb-5">
        <button
          type="button"
          class="btn btn-warning nav-button m-1"
          (click)="newOrderDisplay()"
        >
          New Orders
        </button>
        <button
          type="button"
          class="btn btn-warning nav-button m-1"
          (click)="completeOrderDisplay()"
        >
          Completed Orders
        </button>
        <button
          type="button"
          class="btn btn-warning nav-button m-1"
          (click)="deliveredOrderDisplay()"
        >
          Delivered Orders
        </button>
      </div>

      <div *ngIf="newOrder">
        <div *ngFor="let item of newOrderArray; let i = index">
          <div class="m-4 p-4 item-display">
            <div class="row">
              <div class="col-sm-4">
                <span class="sub-head">NAME : </span>{{ item.name }}
              </div>
              <div class="col-sm-4">
                <span class="sub-head">TABLE :</span> {{ item.table }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <span class="sub-head">ORDER NUMBER :</span> {{ item.order }}
              </div>
              <div class="col-sm-4">
                <span class="sub-head">TOTAL AMOUNT :</span> {{ item.bill }}/-
              </div>
              <div class="col-sm-4 center">
                <i class="material-icons down-icon">arrow_downward</i>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="completeOrder"></div>
      <div *ngIf="deiveredOrder"></div>
    </div>
  </div>
</div>
