<div class="background-image">
  <div class="center">
    <img
      src="https://img.icons8.com/clouds/344/restaurant.png"
      alt=""
      class="img-fork"
    />
  </div>
  <div class="center heading m-2">Restaurant Signup</div>
  <div class="center">
    <div class="container m-3 p-3" style="background-color: #4c5462">
      <div class="center"></div>
      <div class="register-form mt-3">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-sm-6">
              <label>Name</label>
              <input
                type="text"
                formControlName="userName"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
              />
              <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                <div *ngIf="f.userName.errors.required" class="error-color">
                  User Name is required
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label>Resturant Name</label>
              <input
                type="text"
                formControlName="storeName"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f.storeName.errors
                }"
              />
              <div
                *ngIf="submitted && f.storeName.errors"
                class="invalid-feedback"
              >
                <div
                  *ngIf="f.storeName.errors.required"
                  class="error-color"
                >
                  Resturant Name is required
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label>Enter Email</label>
              <input
                type="email"
                formControlName="emailAddress"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }"
              />
              <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.emailAddress.errors.required" class="error-color">
                  Email is required
                </div>
              </div>
            </div>


            <div class="form-group col-sm-6">
              <label>Enter Mobile</label>
              <input
                type="number"
                formControlName="phoneNumber"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
              />
              <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNumber.errors.required" class="error-color">
                  Phone Number is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="center">
              <button type="submit" class="btn btn-login mt-4">SEND OTP</button>
            </div>
            <a href="/" class="font-weight-bold p-2 center a-link mt-1">
              Already have an account?
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
