<div *ngIf="spinner" class="spinner background-image">
  <div
    style="height: 3em; width: 3em"
    class="spinner-border spinner-border-sm"
  ></div>
</div>
<div *ngIf="spinner" class="background-image">
  <div class="center">
    <div class="container m-3 p-3" style="border-radius: 1vh; background-color: #dbb300;">
      <div class="center heading m-2 text-light">ADD ITEMS TO THE MENU</div>
      <div class="center">
        <div class="sub-heading m-2 pb-4 mb-5">
          Make your menu more interesting and add varities of dishes
        </div>
      </div>
      <div class="register-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Category</label>
            <select
              class="form-control"
              formControlName="menuCategory"
              (change)="getSubCategory()"
            >
              <option value="">--Select--</option>
              <option *ngFor="let category of categories" [value]="category.menu">
                {{ category.menu }}
              </option>
            </select>
          </div>
          <div
            *ngIf="submitted && f.menuCategory.errors"
            class="text-danger mb-5"
          >
            <div *ngIf="f.menuCategory.errors.required">
              Category is required
            </div>
          </div>

          <div class="form-group">
            <label>Sub-Category</label>
            <select class="form-control" formControlName="menuSubCategory">
              <option value="">--Select--</option>
              <option *ngFor="let sub of subCategories" [value]="sub.subMenu">
                {{ sub.subMenu }}
              </option>
            </select>
          </div>
          <div
            *ngIf="submitted && f.menuSubCategory.errors"
            class="text-danger mb-5"
          >
            <div *ngIf="f.menuSubCategory.errors.required">
              Sub-Category is required
            </div>
          </div>

          <div class="form-group">
            <label>Item Name</label>
            <input
              type="text"
              formControlName="menuItem"
              class="form-control"
            />
          </div>
          <div *ngIf="submitted && f.menuItem.errors" class="text-danger mb-5">
            <div *ngIf="f.menuItem.errors.required">Item Name is required</div>
          </div>

          <div class="form-group">
            <label>Item Type</label>
            <select class="form-control" formControlName="itemType">
              <option value="">--Select--</option>
              <option value="veg">Veg</option>
              <option value="nonveg">Non-Veg</option>
              <option value="egg">Egg</option>
              <option value="vegan">Vegan</option>
              <option value="alchoholic">Alcholic</option>
              <option value="nonalchoholic">Non-Alcholic</option>
            </select>
          </div>
          <div *ngIf="submitted && f.itemType.errors" class="text-danger mb-5">
            <div *ngIf="f.itemType.errors.required">Item type is required</div>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input
              type="number"
              formControlName="itemPrice"
              class="form-control"
            />
          </div>
          <div *ngIf="submitted && f.itemPrice.errors" class="text-danger mb-5">
            <div *ngIf="f.itemPrice.errors.required">Price is required</div>
          </div>

          <div class="form-group">
            <label>Display Image</label>
            <image-cropper
            *ngIf="!showProfilePic"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 3"
            [resizeToWidth] =  92
            [resizeToHeight] = 69
            format="png"
            (imageCropped)="imageCropped($event)"
          ></image-cropper>
            <input type="file" formControlName="itemURL" class="form-control mt-4 mb-4" (change)="onProfilePicUpload($event)"/>
            <!-- <button *ngIf="!showProfilePic" type="button" class="btn btn-info" (click)="uploadProfilePic()">Upload Image</button> -->
          </div>
          <div *ngIf="submitted && f.itemURL.errors" class="text-danger mb-5">
            Image is required
          </div>

          <div class="form-group">
            <label>Available From</label>
            <input
              type="time"
              formControlName="availableFrom"
              class="form-control"
            />
          </div>
          <div
            *ngIf="submitted && f.availableFrom.errors"
            class="text-danger mb-5"
          >
            Available From is required
          </div>

          <div class="form-group">
            <label>Available Till</label>
            <input
              type="time"
              formControlName="availableTill"
              class="form-control"
            />
          </div>
          <div
            *ngIf="submitted && f.availableTill.errors"
            class="text-danger mb-5"
          >
            Available Till is required
          </div>

          <div class="form-group">
            <label>Week Day Availablitiy</label>
            <div>
              <input
                type="checkbox"
                [(ngModel)]="weekDayAvailability[0]"
                [ngModelOptions]="{ standalone: true }"
              />
              Sunday
            </div>
            <div>
              <input
                type="checkbox"
                [(ngModel)]="weekDayAvailability[1]"
                [ngModelOptions]="{ standalone: true }"
              />
              Monday
            </div>
            <div>
              <input
                type="checkbox"
                [(ngModel)]="weekDayAvailability[2]"
                [ngModelOptions]="{ standalone: true }"
              />
              Tuesday
            </div>
            <div>
              <input
                type="checkbox"
                [(ngModel)]="weekDayAvailability[3]"
                [ngModelOptions]="{ standalone: true }"
              />
              Wednesday
            </div>
            <div>
              <input
                type="checkbox"
                [(ngModel)]="weekDayAvailability[4]"
                [ngModelOptions]="{ standalone: true }"
              />
              Thrusday
            </div>
            <div>
              <input
                type="checkbox"
                [(ngModel)]="weekDayAvailability[5]"
                [ngModelOptions]="{ standalone: true }"
              />
              Friday
            </div>
            <div>
              <input
                type="checkbox"
                [(ngModel)]="weekDayAvailability[6]"
                [ngModelOptions]="{ standalone: true }"
              />
              Satday
            </div>
          </div>
          <div
            *ngIf="submitted && weekDayAvailabilityError"
            class="text-danger mb-5"
          >
            You need to select atleast 1 day
          </div>

          <div class="form-group center">
            <button
              type="submit"
              class="btn btn-success rounded-0"
              style="width: 200px"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-toaster></app-toaster>
