<div class="background-image">
  <div class="center">
    <div class="container bg-light m-3 p-3" style="border-radius: 1vh">
      <div class="center heading m-2">ADD ITEMS TO THE MENU</div>
      <div class="center">
        <div class="sub-heading m-2 pb-4 mb-5">
          Make your menu more interesting and add varities of dishes
        </div>
      </div>
      <div class="register-form">
        <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Item Category</label>
            <input
              type="text"
              formControlName="itemCategory"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.itemCategory.errors }"
            />
            <div
              *ngIf="submitted && f.itemCategory.errors"
              class="text-danger"
            >
              <div *ngIf="f.itemCategory.errors.required">
                Item Category is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Item Name</label>
            <input
              type="text"
              formControlName="itemName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.itemName.errors }"
            />
            <div
              *ngIf="submitted && f.itemName.errors"
              class="text-danger"
            >
              <div *ngIf="f.itemName.errors.required">
                Item Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Item Description</label>
            <input
              type="text"
              formControlName="itemDesc"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.itemDesc.errors }"
            />
            <div
              *ngIf="submitted && f.itemDesc.errors"
              class="text-danger"
            >
              <div *ngIf="f.itemDesc.errors.required">
                Item Description is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Item Price</label>
            <input
              type="number"
              formControlName="itemAmount"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.itemAmount.errors }"
            />
            <div
              *ngIf="submitted && f.itemAmount.errors"
              class="text-danger"
            >
              <div *ngIf="f.itemAmount.errors.required">
                Item Amount is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Is item veg?</label>
            <input
              type="text"
              formControlName="itemisVeg"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.itemisVeg.errors }"
            />
            <div
              *ngIf="submitted && f.itemisVeg.errors"
              class="text-danger"
            >
              <div *ngIf="f.itemisVeg.errors.required">Field is required</div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <button
              type="button"
              (click)="onReset()"
              class="btn btn-warning float-right"
            >
              Reset
            </button>
          </div>
        </form> -->



        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Item Name</label>
            <input type="text" formControlName="ItemName" class="form-control"/>
          </div>
          <div *ngIf="submitted && f.ItemName.errors" class="text-danger">
            <div *ngIf="f.ItemName.errors.required">
              Item Name is required
            </div>
          </div>

          <div class="form-group">
            <label>ItemType</label>
            <select class="form-control" formControlName="ItemType">
              <option value=''>--Select--</option>
              <option value="veg">Veg</option>
              <option value="nonveg">Non-Veg</option>
              <option value="alcholic">Alcholic</option>
              <option value="nonalcholic">Non-Alcholic</option>

            </select>
          </div>
          <div *ngIf="submitted && f.ItemType.errors" class="text-danger">
            <div *ngIf="f.ItemType.errors.required">
              ItemType is required
            </div>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="number" formControlName="Price" class="form-control"/>
          </div>
          <div *ngIf="submitted && f.Price.errors" class="text-danger">
            <div *ngIf="f.Price.errors.required">
              Price is required
            </div>
          </div>

          <div class="form-group">
            <label>Discount</label>
            <input type="number" formControlName="Discount" class="form-control"/>
          </div>
          <div *ngIf="submitted && f.Discount.errors" class="text-danger">
            Discount is required
          </div>

          <div class="form-group form-switch">
            <input class="form-check-input form-control" type="checkbox" role="switch" id="flexSwitchCheckDefault"
            formControlName="AvailableNow">
            <label class="form-check-label" for="flexSwitchCheckDefault">Make Available Now</label>
          </div>

          <div class="form-group">
            <label>Next Available Time</label>
            <input type="datetime-local" formControlName="NextAvailableTime" class="form-control"/>
          </div>
          <div *ngIf="submitted && f.NextAvailableTime.errors" class="text-danger">
            <div *ngIf="f.NextAvailableTime.errors.required">
              Next Available Time is required
            </div>
          </div>

          <div class="form-group">
            <label>Display Image Path</label>
            <input type="text" formControlName="DisplayImagePath" class="form-control"/>
          </div>
          <div *ngIf="submitted && f.DisplayImagePath.errors" class="text-danger">
            Next Available Time is required
          </div>

          <div class="form-group text-right">
            <button type="submit" class="btn btn-success rounded-0" style="width: 200px;">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
