<div class="background-image">
  <div class="center">
    <div class="container bg-light m-3 p-3" style="border-radius: 1vh">
      <div class="center heading m-2">HELLO MENU</div>
      <div class="center">
        <div class="sub-heading m-2 pb-4 mb-5">
          khf shfdd iurddrig dg rdihgi df kfsjf h fufgur ug rugu gfd
        </div>
      </div>

      <div *ngFor="let item of menuGroups; let i = index">
        <div class="container-fluid pr-0 borderRight item-display mb-2 shadow">
          <div class="row" (click)="expandMenu(i)">
            <div class="col-sm-6 p-4">
              <div class="category-name">{{ item }}</div>
            </div>
            <div class="col-sm-6 p-4 text-right">
              <a class="btn btn-outline-info rounded-0 font-weight-bold" href="/addMenu">
                +
              </a>
            </div>
          </div>

          <!-- <div [ngClass]="{'expandable-hide': expand[i]}" class="bg-light p-3">
            <div *ngFor="let product of item.FoodItemsIDs" class="shadow p-4 mb-3 borderBox">
              <div class="row">
                <div class="col-sm-6">
                  <div class="d-flex">
                    <div style="font-size: 1.2rem; word-spacing: 7px; letter-spacing: 2px;" class="font-weight-bold text-uppercase">
                      {{ restaurantMenu[product].ItemName }}
                    </div>
                    <img *ngIf="restaurantMenu[product].ItemType != 'veg'" src="https://img.icons8.com/fluency/48/000000/non-vegetarian-food-symbol.png" class="img-fluid ml-2 mt-1" style="height: 20px;"/>
                    <img *ngIf="restaurantMenu[product].ItemType == 'veg'" src="https://img.icons8.com/fluency/48/000000/vegetarian-food-symbol.png" class="img-fluid ml-2 mt-1" style="height: 20px;"/>
                  </div>
                  <h4 class="font-weight-bold text-success mt-3 "><i>₹ {{ restaurantMenu[product].Price }}</i></h4>
                  <div class="mt-3">Discount: {{ restaurantMenu[product].Discount }} %</div>

                  <div *ngIf="restaurantMenu[product].AvailableNow" class="text-success mt-3">Available</div>
                  <div *ngIf="!restaurantMenu[product].AvailableNow" class="text-danger mt-3">Not Available</div>
                  <div><b>Next Availability Time: </b>{{ restaurantMenu[product].NextAvailableTime | date: 'short' }}</div>
                </div>
                <div class="col-sm-6">
                  <img [src]="restaurantMenu[product].DisplayImagePath" class="img-fluid" style="width: 100%; object-fit: cover; height: 23vh;">
                </div>
                <div class="mt-3 text-right">
                  <button class="btn btn-outline-warning">Edit Product</button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>