<div class="background-image">
  <div class="center">
    <div class="container bg-light m-3 p-3" style="border-radius: 1vh">
      <div class="center heading m-2">HELLO MENU</div>
      <div class="center">
        <div class="sub-heading m-2 pb-4 mb-5">
          khf shfdd iurddrig dg rdihgi df kfsjf h fufgur ug rugu gfd
        </div>
      </div>

      <div *ngFor="let item of menu; let i = index" (click)="expandMenu(i)">
        <div class="container-fluid pr-0 borderRight item-display mb-2 shadow">
          <div class="row" >
            <div class="col-sm-6 p-4 ">
              <div class="category-name">{{ item.category }}</div>
              <h6 class="text-muted mt-2 opacityText"><i>{{ item.description }}</i></h6>
            </div>
            <div class="col-sm-6 pl-0" >
              <img style="height: 20vh;"
                class="category-image"
                src="{{item.image}}"
                alt=""
              />
            </div>
          </div>

          <div [ngClass]="{'expandable-hide': expand[i]}" class="bg-light p-3">
            <div *ngFor="let product of item.items" class="shadow p-4 mb-3 borderBox">
              <div class="row">
                <div class="col-sm-6">
                  <div class="d-flex">
                    <div style="font-size: 1.2rem; word-spacing: 7px; letter-spacing: 2px;" class="font-weight-bold text-uppercase">
                      {{ product.itemName }}
                    </div>
                    <img *ngIf="!product.isVeg" src="https://img.icons8.com/fluency/48/000000/non-vegetarian-food-symbol.png" class="img-fluid ml-2 mt-1" style="height: 20px;"/>
                    <img *ngIf="product.isVeg" src="https://img.icons8.com/fluency/48/000000/vegetarian-food-symbol.png" class="img-fluid ml-2 mt-1" style="height: 20px;"/>
                  </div>
                  <div class="text-muted mt-2"><i>{{ product.itemDes }}</i></div>
                  <h4 class="font-weight-bold text-success mt-3 "><i>₹ {{ product.price }}</i></h4>
                </div>
                <div class="col-sm-6 edit">
                 <img src="../../assets/images/icons8-edit-50.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
