.background-image {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../../assets/images/bg.png");

  background-repeat: repeat;
  background-attachment: fixed;
  /* background-size: cover; */
  /* background-size: 100% 100%; */
  min-height: 100vh;
}
.center {
  display: flex;
  justify-content: center;
}
.space-around {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}
.heading {
  font-size: xx-large;
  font-weight: bold;
}
.sub-heading {
  font-size: large;
  color: grey;
  border-bottom: 2px dashed grey;
}
.item-display {
  border: 2px solid #ced4da;
  border-radius: 1vh;
  background-color: white;
}
.category-name {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.category-image {
  width: 100%;
  object-fit: cover;
}
.borderRight {
  border-left: 1vh solid #fec134;
  border-radius: 1vh;
}
