
<div *ngIf="spinner" class="spinner">
  <div
    style="height: 3em; width: 3em"
    class="spinner-border spinner-border-sm"
  ></div>
</div>
<div class="background-image">
  <div class="center">
    <div class="container m-3 p-3" style="border-radius: 1vh; background-color: #dbb300;">
      <div class="center heading m-2 text-light">ADD CATEGORY TO THE MENU</div>
      <div class="register-form mt-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Category Name</label>
            <input
              type="text"
              formControlName="menuCategory"
              class="form-control"
            />
          </div>
          <div *ngIf="submitted && f.menuCategory.errors" class="text-danger">
            <div *ngIf="f.menuCategory.errors.required">
              Category Name is required
            </div>
          </div>

          <div class="form-group">
            <label>Category Image</label>
            <image-cropper
            *ngIf="!showProfilePic"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 3"
            [resizeToWidth] =  92
            [resizeToHeight] = 69
            format="png"
            style="height: 50vh;"
            (imageCropped)="imageCropped($event)"
          ></image-cropper>
            <input type="file" formControlName="imageURL" class="form-control mt-4 mb-4" (change)="onProfilePicUpload($event, false)"/>
          </div>
          <div *ngIf="submitted && f.imageURL.errors" class="text-danger">
            <div *ngIf="f.imageURL.errors.required">
              Image is required
            </div>
          </div>

          <div class="form-group text-right">
            <button
              type="submit"
              class="btn btn-success rounded-0"
              style="width: 200px"
            >
              ADD CATEGORY
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="container m-3 p-3" style="border-radius: 1vh;background-color: #dbb300;">
      <div class="center heading text-light m-2">ADD SUB-CATEGORY TO CATEGORY</div>
      <div class="register-form mt-5">
        <form
          [formGroup]="subCategoryForm"
          (ngSubmit)="addSubCategory()"
          class="mt-5"
        >
          <div class="form-group">
            <label>Menu Category</label>
            <select class="form-control" formControlName="menuCategory">
              <option value="">--Select a category--</option>
              <option *ngFor="let category of categories" [value]="category.menu">{{ category.menu }}</option>
            </select>
          </div>
          <div
            *ngIf="subCategorySubmitted && subCategory.menuCategory.errors"
            class="text-danger"
          >
            <div *ngIf="subCategory.menuCategory.errors.required">
              Category Name is required
            </div>
          </div>

          <div class="form-group">
            <label>Sub-Category Name</label>
            <input
              type="text"
              formControlName="menuSubCategory"
              class="form-control"
            />
          </div>
          <div
            *ngIf="subCategorySubmitted && subCategory.menuSubCategory.errors"
            class="text-danger"
          >
            <div *ngIf="subCategory.menuSubCategory.errors.required">
              Sub Category Name is required
            </div>
          </div>

          <div class="form-group">
            <label>Image</label>
            <image-cropper
            *ngIf="!showSubProfilePic"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 3"
            [resizeToWidth] =  92
            [resizeToHeight] = 69
            format="png"
            style="height: 50vh;"
            (imageCropped)="imageCropped($event)"
          ></image-cropper>
            <input type="file" formControlName="imageURL" class="form-control mt-4 mb-4" (change)="onProfilePicUpload($event, true)"/>
          </div>
          <div
            *ngIf="subCategorySubmitted && subCategory.imageURL.errors"
            class="text-danger"
          >
            <div *ngIf="subCategory.imageURL.errors.required">
              Image is required
            </div>
          </div>

          <div class="form-group text-right">
            <button
              type="submit"
              class="btn btn-success rounded-0"
              style="width: 200px"
            >
              ADD SUB-CATEGORY
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    *ngIf="successNote"
    class="bg-success m-5 p-2 success-note"
    style="bottom: 0; right: 0; position: fixed"
  >
    <img
      class="img-siz"
      src="https://cdn-icons-png.flaticon.com/512/190/190411.png"
      alt=""
    />
    <span class="text-light font-weight-bold">
      {{ text }}
    </span>
  </div>

  <div
    *ngIf="errorNote"
    class="bg-danger m-5 p-2 success-note"
    style="bottom: 0; right: 0; position: fixed"
  >
    <img
      class="img-siz"
      src="https://cdn-icons-png.flaticon.com/512/190/190406.png"
      alt=""
    />
    <span class="text-light font-weight-bold">
      {{ text }}
    </span>
  </div>
</div>

<app-toaster></app-toaster>
