<div class="background-image pt-2 pb-2">
    <div class="container p-2">
        <div class="d-flex justify-content-around" style="flex-wrap: wrap;">
            <div *ngFor="let product of products; let i = index">
              <div class="border m-3 bg-light p-2" style="cursor: pointer; width: 40vh;">
                <img [src]="getImage(product.imgURL)" class="img-fluid shadow" alt="category image" style="height: 20vh; width: 100%; object-fit: cover;">
                <div class="p-3">
                  <div>
                    <span class="text-uppercase" style="letter-spacing: 4px; font-size: 1.2rem;">{{ product.menuItemName }}</span>
                    <span class="text-muted text-lowercase ml-1">({{ product.itemType[0] }})</span>
                  </div>
                  <div class="text-success">₹{{ product.basePrice }}</div>
                </div>
                
                <div class="d-flex pt-2 justify-content-end">
                  <img
                    src="../../../assets/pencil.png"
                    (click)="setMenuItems(product)"
                    class="iconItem"
                    data-toggle="modal"
                    data-target="#updateMenuItem"
                    *ngIf="checkPrivilage()"
                  />
                  <img
                    src="../../../assets/delete.png"
                    (click)="setMenuItems(product)"
                    class="iconItem ml-2"
                    data-toggle="modal"
                    data-target="#deleteMenuItem"
                    *ngIf="checkPrivilage()"
                  />
                </div>
              </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="updateMenuItem">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          UPDATE<span class="text-warning"> MENU ITEM</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="menuItemForm" (ngSubmit)="editProduct()">
          <div class="form-group">
            <label>Item Name</label>
            <input
              type="text"
              formControlName="ItemName"
              class="form-control"
            />
          </div>
          <div *ngIf="submitted && f.ItemName.errors" class="text-danger mb-5">
            <div *ngIf="f.ItemName.errors.required">Item Name is required</div>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="number" formControlName="Price" class="form-control" />
          </div>
          <div *ngIf="submitted && f.Price.errors" class="text-danger mb-5">
            <div *ngIf="f.Price.errors.required">Price is required</div>
          </div>

          <div class="form-group">
            <label>Display Image</label>
            <image-cropper
              *ngIf="!showProfilePic"
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 3"
              [resizeToWidth]="92"
              [resizeToHeight]="69"
              format="png"
              (imageCropped)="imageCropped($event)"
            ></image-cropper>
            <input
              type="file"
              formControlName="DisplayImagePath"
              class="form-control"
              (change)="onProfilePicUpload($event)"
            />
          </div>
          <div
            *ngIf="submitted && f.DisplayImagePath.errors"
            class="text-danger mb-5"
          >
            Image is required
          </div>

          <div class="form-group text-right">
            <button
              type="submit"
              class="btn btn-success rounded-0"
              style="width: 200px"
              data-toggle="modal"
              data-target="#updateMenuItem"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteMenuItem">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          DELETE<span class="text-warning"> MENU ITEM</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          Are you sure you want to delete {{ setItemName }}?
        </div>
        <div class="d-flex justify-content-around mt-4 mb-4">
          <button
            class="btn rounded-0 btn-outline-warning font-weight-bold"
            data-dismiss="modal"
            style="width: 20vh"
          >
            CANCEL
          </button>
          <button
            class="btn btn-warning rounded-0 font-weight-bold"
            style="width: 20vh; color: white"
            (click)="removeMenuItem()"
            data-dismiss="modal"
          >
            DELETE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>