.background-image {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../../assets/backgroundImage/bg.png");

  background-repeat: repeat;
  background-attachment: fixed;
  /* background-size: cover; */
  /* background-size: 100% 100%; */
  min-height: 100vh;
}
.center {
  display: flex;
  justify-content: center;
}
.space-around {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}
.heading {
  font-size: xx-large;
  font-weight: bold;

}
.sub-heading {
  font-size: large;
  color: grey;
  border-bottom: 2px dashed grey;
  text-align: center;
}
label {
  font-weight: bold;
}
.nav-button {
  height: 6vh;
  width: 30vh;
  font-size: large;
}
.zone {
  height: 7rem;
  width: 7rem;
  min-width: fit-content;
  text-align: center;
  background-color: #26585a;
  margin: 2vh;
  color:#fec134;
  padding-top: 1vh;
}
.zone:hover{
    cursor: pointer;
}
.number {
  font-size: xx-large;
}
.zones {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background-color: white;
}
.zone:hover {
  box-shadow: 0px 0px 20px gray;
}
.addButton {
  margin-bottom: 8vh;
}

.zoneName{
  color:  white;
  font-size: x-large;
  font-weight: bold;
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.deleteIcon{
  height: 4vh;
  width: 4vh;
}